        body{
            font-family: arial;
        }

        .header{
            background-color: #E5CCC8;
            padding: 1em;
        }

        .container{
            background-color: #E5CCC8;
        }

        .header h1{
            float: left;
            padding: 1em;
            color: #522632;
        }

        .header img{
            width: 10em;
            height: 6em;
            padding: 1em;
        }

        .main{
            background-color: #E5CCC8;
        }

        .head1 h2{
            padding: 1em;
            color: #6F3B48;
        }

        .side-bar1 img{
            padding: 1em;
            width: 10em;
            height: 10em;
        }

        @media(min-width: 800px ){
            .side-bar1{
                float: left;
                overflow: auto;
            } 
            .indie {
                display: flex;
            }
        }

        .indie{
            overflow: auto;
        }

        .content1{
            padding: 1em;
            display: flex;
        }
       

        .side-bar1, .content1{
            display: flex;
        }

        .head2 h2{
            color: #6F3B48;
            padding: 1em;
        }

        .content2{
            padding: 1em;
        }

        table th,td{
            border: 1px solid black;
        }

        table{
            width: 100%;
            padding: 20px;
        }

        .head3 h2{
            padding: 1em;
            color: #6F3B48;
        }

        .content3{
            padding: 1em;
        }

        .content3a, .content3b, .content3c{
            display: flex;
        }


        @media(min-width:800px){
            .image2{
                order:2;
            }

            .content3{
                display:flex;
            }
        }